* {
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
}

.back-image-day {    
    width: 100vw;
    height: 45vh;
    background-image: url("./img/rohit-tandon-9wg5jCEPBsw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: absolute;
    top: 0px;
    z-index: -1;
}

.container h1 {
    display: inline;
    text-align: start;
    font-weight: 700;
}

.container {
    width: 40%;
    margin: 5rem auto;
    position: relative;
}

input {
    width: 99%;
    height: 50px;
    border: none;
    margin-top: 2rem;
    outline: none;
    border-radius: 2rem;
    font-size: 25px;
    text-align: center;
    background: #77acf1b0;
    font-weight: 550;
}

ul {
    margin: 0;
    padding-left: 1rem;
}

li {
    display: flex;
    align-items: center;
    align-content: center;
}

.circle-off {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: black;
}

@media (max-width: 900px) {
    .container {
        width: 80%;
    }
}